.slider {
  &-item {
    border-radius: var(--border-radius-large);
    background-color: var(--color-white-gray);
    padding: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    @include tablet {
      flex-direction: column;
      gap: 17.5px;
      padding: 40px 20px;
      align-items: center;
    }

    &-img {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      object-fit: cover;
      &-wrapper {
        max-width: 340px;
        height: 481px;
        flex: 1;
        border-radius: var(--border-radius);
        border: 2px solid var(--color-black);
        overflow: hidden;
        @include tablet {
          max-width: 313px;
          width: 100%;
          height: 350px;
          flex: none;
        }
      }
    }
    &-content {
      min-width: 400px;
      flex: 1;
      @include tablet {
        min-width: auto;
        width: 100%;
      }
    }
    &-card {
      padding: 26px 15px;
      background: var(--color-white);
      border-radius: var(--border-radius);
      // width: 582px;
      min-height: 227px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 18px;
      margin-bottom: 58px;
      border: 1.5px solid var(--color-black);
      box-shadow: -4px 4px 0px 0px var(--color-black);
      @include tablet {
        margin-bottom: 19px;
        gap: 4px;
        min-height: 138px;
        padding: 15px 36px;
      }

      &-title {
        color: var(--color-black);
      }
      &-description {
        color: var(--color-dark-gray);
        @include tablet {
          font-size: 10px;
        }
      }
      &--active {
        display: flex;
      }
    }
  }
  &-hash-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 26px;
      gap: 3px;
    }
  }
  &-hash-button {
    padding: 6px 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;

    &--active {
      background: var(--color-black);
      color: var(--color-white);
    }

    @include tablet {
      font-size: 10px;
      line-height: 1.2;
      padding: 6px 10px;
    }
  }

  &-navigation {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    &-button {
      @include reset-button;
      position: relative;

      &::after {
        @include abs-center;
        content: "";
        position: absolute;
        width: 550%;
        height: 150%;
        background-color: transparent;
        z-index: 2;
      }
    }
    &-icon {
      width: 6px;
      height: 12px;
      & path {
        fill: var(--color-black);
      }
    }
    &-numeration {
      color: var(--color-black);
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      @include tablet {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
}
